.pagination-wrapper,
#container ul {
    border-top: 1px solid #ccc;
    background: whitesmoke;
    color: #333;
    padding: 7px;

    .pagination {

        &>button {
            margin: 0;
            padding: 0;
            width: 34px;
            height: 34px;
            border: 1px solid #ccc;
            // border-left-width: 0;
            box-sizing: content-box;
            background-color: #fff;
            color: #333;
            text-align: center;
        }

        .page_active {
            background-color: #337ab7;
            border: 1px solid #2e6da4;
            color: #fff;

        }

        .per-page {
            select {
                min-width: 70px;
                height: 30px;
            }
        }
    }

    li {


        margin: 0;
        padding: 0;
        width: 34px;
        height: 34px;
        border: 1px solid #ccc;
        // border-left-width: 0;
        box-sizing: content-box;
        background-color: #fff;
        color: #333;
        text-align: center;

        a {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

    }
}