* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  outline: none;
}

.navbar {
  display: flex;

  &>.link {
    margin: 15px;
  }

  .link:last-child {
    display: none;
  }
}

a {
  color: #333;
  text-decoration: none;
}

.pagination {
  border-top: 1px solid #ccc;
  background: whitesmoke;
  color: #333;
  padding: 7px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  li {
    margin: 0;
    padding: 0;
    width: 34px;
    height: 34px;
    border: 1px solid #ccc;
    // border-left-width: 0;
    box-sizing: content-box;
    background-color: #fff;
    color: #333;
    text-align: center;
    list-style: none;

    a {
      width: 100%;
      height: 100%;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}